* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.heading {
  font-size: 7rem;
  line-height: 1;
  font-weight: 300;
  color: #4285f4;
}

.heading sup {
  font-size: 2rem;
  line-height: 1;
  color: #dd4b39;
  position: relative;
  top: -4rem;
}

.subheading {
  font-weight: 300;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 2.5rem;
  overflow: hidden;
}

.page-header__content {
  text-align: center;
}

.page-header__preview {
  width: 100%;
  height: 100%;
  background-image: url('images/inboxer-view.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page-header__preview img {
  width: 100%;
}

.download-btn,
.download-btn:hover,
.download-btn:active,
.download-btn:focus {
  background-color: #4285f4;
}

.caption {
  margin-top: 1rem;
}

.page-footer {
  overflow: hidden;
  background-color: #4285f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
}

.page-footer__content {
  margin: 3rem auto;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  padding: 0 1rem;
}

.page-footer__content a {
  color: #ffffff;
}
