/* Add OS specific fonts */
body {
  font-family: -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen-Sans,
      Ubuntu,
      Cantarell,
      'Helvetica Neue',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol' !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings: 'liga', 'clig', 'kern';
}

/* Top margin for content (don't hide under teh topbar) */
#Nr .c4 {
  padding-top: 60px;
}
#Nr .a1 {
  padding-top: 0 !important;
}

/* Application top padding */
.cM {
  padding-top: 0 !important;
}

/* Bind the topbar as the window's draggable region */
.hn {
  -webkit-app-region: drag;
}

/*
 * Sign In Page
 */
.JYXKFb,
.google-header-bar {
  display: none;
}

.wrapper {
  -webkit-app-region: drag;
  user-select: none;
}
.wrapper .card.signin-card {
  -webkit-app-region: no-drag;
}

.RgEUV.ZnXjYc,
.main.content {
  padding-top: 50px;
  padding-bottom: 0;
}

.main-content {
  height: 400px !important;
}

.card-mask {
  min-height: 250px !important;
}

.tagline,
.logo-strip {
  display: none !important;
}

.zOB73,
.google-footer-bar {
  display: none;
}

/*
 * Topbar related styles
 * Proportion:
 *   40/56 = 0.7142857143...
 *   old * 0.7142857143 = new
 */

/* Topbar height */
.hn,
.hn::before {
  height: 40px !important;
}
.f1 .gb_nb {
  height: 40px !important;
  margin-top: 2px;
}

/* Traffic lights on macOS */
.platform-darwin .hn {
  padding-left: 76px;
}

.platform-win32 .hn::before {
  /* 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28) */
  box-shadow: 0 1px 4px rgba(0,0,0,.14);
}

/* Folder title in topbar */
.c7 {
  font-size: 1.3em !important;
}

/* Hamburger menu in topbar */
.c7 .ew, .c7 .ew::before {
  background-size: 17px 17px;
  height: 17px;
  width: 17px;
}
.aO {
  padding: 11.5px 19px !important;
}
.aO.ew img {
  width: 17px;
  height: 17px;
}

/* Search bar height */
.bS, .bS::before {
  height: 26px !important;
}

/* Remove left margin, make content wider when sidebar is opened */
.M .bS {
  margin-left: 0 !important;
}
@media (max-width: 1632px) {
  .M .bz {
    margin-left: 272px;
    margin-right: 50px !important;
  }
}
@media (max-width: 1800px) {
  .M .bz {
    margin-left: 272px;
  }
}

/* Make content wider when sidebar is closed */
@media (max-width: 1260px) {
  .bz:not(.M) {
    width: 85%;
  }
}
@media (max-width: 1800px) {
  .bz:not(.M) {
    width: 80%;
  }
}

/* Search icon sizes and position */
.bS .rj {
  height: 26px;
  width: 51.5px;
}
.bS .rj img.bD {
  height: 17px;
  left: 17px;
  top: 5px;
  width: 17px;
}

/* Search input height */
.gc.sp,
.gc.sc.qW {
  height: 26px;
  font-size: 1em;
}

/* Search dropdown position */
.ne.r9 {
  padding-top: 40px;
}

.platform-win32 .hn.bB {
  background: #ffffff;
}
.platform-win32 .sc.qW,
.platform-win32 .qz,
.platform-win32, .qz:hover {
  background-color: #f2f2f2;
}
.platform-win32 .bB .at::before {
  box-shadow: inset -24px 0 12px -12px #ffffff;
}

/* Pin Toggle */
.lE .tg {
  height: 12px;
  width: 24px;
  margin: 0 8px 0 14px;
  padding-left: 8px;
}
.lE .tg .gH {
  width: 24px;
}
.lE .tg .gH .b2 {
  height: 18px;
  margin-top: -3px;
  width: 18px;
  transform: translateX(-8px);
}
.lE .tg .gH .b2.bM {
  transform: translateX(14px);
}
.lE .tg .gH .b2 img.lX {
  margin-left: 3px;
  margin-top: 3.5px;
  background-size: 11px;
  height: 11px;
  width: 11px;
}

/* Hangouts, Apps and Notification contrainers */
.f1,
#gb,
.gb_Ef,
.gb_Ff,
.gb_Bf,
.gb_Df,
.gb_Df>.gb_R,
.gb_Ef>.gb_R,
.gb_Ff>.gb_R,
.gb_Mf>.gb_R {
  height: 40px !important;
}

/* Hangouts Icon */
#lQGP9e {
  display: none;
}

/* Goolge Apps Icon */
#gbwa {
  display: none;
}

/* Google Notifications Icon */
.gb_R.gb_Kc {
  display: none;
}

/* Google User */
.gb_hb.gb_5c.gb_Cg.gb_R {
  padding-left: 0;
}
.gb_b.gb_R,
.gb_bb.gbii,
.gb_db.gbii {
  height: 26px;
  width: 26px;
  margin-top: 1px;
}
.gb_ab.gbii,
.gb_bb.gbii,
.gb_db.gbii {
  display: inline-block;
  height: 26px;
  width: 26px;
  background-size: 28px 28px;
}
/* Shadow circle around the avatar */
.gb_b.gb_R > .gb_ab {
  margin: 0;
}

/* Letter's header top margin */
.ac-P .bH {
  top: 40px !important;
}

/* Google+ Link in profile popup */
.gb_ub {
  display: none;
}

/* Avatar in popup */
.gb_zb.gbip,
.gb_Ab.gbip {
  width: 67px;
  height: 67px;
  background-size: 67px 67px;
}

/* 'Change' in popup's avatar */
.gb_lb,
.gb_mb {
  width: 96px !important;
}

/* Avatar in topbar goes up */
.gb_bb.gbii {
  display: inline-block;
  margin: 0;
}

/* A name of active user near the avatar in topbar */
.active-user-name {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  padding-left: 10px;
  line-height: 26px;
  display: inline-block;
  color: #ffffff;
  width: 100px;
  text-overflow: ellipsis;
}
/* Active user in white topbar */
.gb_ea .active-user-name {
  color: #212121;
}

/* Reminder's popup */
.eG .bb {
  width: 80%;
}

/* Keyboard shortcuts popup */
.uS {
  user-select: none;
  overflow: scroll;
  width: 80% !important;
  max-width: 878px;
}

/* Hide help item in left menu */
/* @TODO: make it available in separate window */
.oCKk2 {
  display: none !important;
}

/* Make shadows of the message items look more native on Windows  */
.platform-win32 .aa::before,
.platform-win32 .an::before {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12);
}

.gb_Dc {
  height: 80% !important
}

a.gb_b.gb_eb.gb_R::before {
  right: -8px;
  bottom: -8px;
}

/* Tooltip to display link contents */
/* <div class="tE"> contains message view area (right side of window) */
div.tE a[href]::after {
    content: attr(href);
    position: absolute;
    display: table;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(-10%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    font: normal small sans-serif;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 8px;
    z-index:99;
    opacity:0;
}

div.tE a[href]:hover::after {
   opacity:1
}
